body {
  background-color: #121212; 
}

.header-1 {
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
}

.hide {
    display: none;
}

.box2 {
    width: 30%;
    height: 30%; 
    background-color: #EFB810;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 20px;
    border: 2px solid red;
}

.r1, .r2 {
    color: black;
}

.box {
    height: 95%;
    width: 95%;
    border: 2px solid red;
    border-radius: 20px;
}

span {
    color: white;
    font-size: 1.3rem;
}

.bar {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.bar span {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    user-select: none; 
    margin-top: 20px;
}

.bar span:hover {
    color: #BB86FC; 
}

p {
    color: white;
    font-size: 1.4rem;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: 39px;
}

input {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    width: 300px;
    height: 19px;
    border-radius: 5px;
}

select {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.bt {
    font-size: 1.1rem;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.bt:hover {
    background-color: #BB86FC;
    transition: 0.3s;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}